# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio files
.qmake.stash
.vs/
Station_meteo.vcxproj
Station_meteo.vcxproj.filters
Station_meteo.vcxproj.user
Station_meteo.pro.user
Station_meteo.sln
debug/
release/
ui_mainwindow.h

