[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
	branch = master
[submodule "3rdparty/uv_cpp"]
	path = 3rdparty/uv_cpp
	url = https://github.com/wlgq2/uv-cpp.git
	branch = master
[submodule "3rdparty/BME280_driver"]
	path = 3rdparty/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
	branch = master
