QMainWindow
{
	background-color:#FAFAFA;
}
QToolBar
{
	background-color: #FEFEFE;
}
QToolButton
{
        	color: #000000;
}
QLabel
{
        	color: #000000;
}
QWidget#widgetDate
{
	background-color: #EFEFEF;
	border-radius:5px;
}
QWidget#widgetMerMain
{
	background-color: #EFEFEF;
	border-radius:5px;
}